<p id="notice"><%= notice %></p>

<p>
  <strong>Aircraft:</strong>
  <%= @part.aircraft %>
</p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @part.status %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
