<%= form_with(model: route, local: true) do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mission_id %>
    <%= form.text_field :mission_id, id: :route_mission_id %>
  </div>

  <div class="field">
    <%= form.label :timestamp %>
    <%= form.number_field :timestamp, id: :route_timestamp %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :route_lat %>
  </div>

  <div class="field">
    <%= form.label :lon %>
    <%= form.text_field :lon, id: :route_lon %>
  </div>

  <div class="field">
    <%= form.label :alt %>
    <%= form.text_field :alt, id: :route_alt %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
